.subjectButton {
    height:200px;
    width:200px;
    max-width:200px;
    max-height:200px;
    margin-top:5%;
    margin-bottom:5%;
    font-size:large;
    font-weight:bold;
    background-color:darkorange;
    border-radius:10%;
    text-align:center;
}

.AlphabetPallet {
    
}