body {
    padding:10%;
    background-color:black;
    color : white;
}

.Mirroris {
    background-image: url(./Apple.png);
    background-size:contain;
    position:absolute;
    width:100%;
    height:100%;
}

.L {
    
}

.M {

}

.N {

}