  html{
    color:azure;
    font-family:'Playfair Display', serif;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow:auto;
  }

  img {
    position:absolulte;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    object-fit:cover;
  }

  
  header {
    top:0;
    left:0;
    width:100vh;
    height:10vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
  }
  
  .hero {
    background-color: #313131;
    border-radius: 20px 20px 0 0;
    padding: 50px;
    text-align: center;
  }
  
  .hero h2 {
    margin-top: 0;
  }
  
  .cta {
    background-color: #FF9C9C;
    border-radius: 10px;
    color: #FFF;
    display: inline-block;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .features {
    background-color: #FFF;
    border-radius: 0 0 20px 20px;
    padding: 50px;
  }
  
  .features h2 {
    margin-top: 0
  }


.mirroris {
  color: white;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.mirroris::before {
  content:"";
  display:block;
  background-image: url("img/RedAndBlue.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100vh;
  opacity:0.5; /* Set the transparency level here */
}